.track {
    width: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
}

.details {
    width: 80%;
}

.add-button {
    padding: auto;
}

.track-button {
    font-size: 2rem;
    width: 60px;
    height: 60px;
    background-color: #282c3486;
    border-radius: 100%;
    box-shadow: none;
    border: 0;
    background-color: #282c34;
    font-size: 3rem;
    color: #ff9028;
    text-align: center;
    vertical-align: center;
    
}