* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #3a3d42;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: white;
  padding: 0 10%;
}

.App-link {
  color: #61dafb;
}

h1 {
  font-size: 3rem;
  color: #ff9028;
}

.app {
  background: url(./background-records.jpg);
}

/* Components */
.login {
  margin-left: auto;
}

.input-area {
  display: flex;
  width: 100%;
  margin: 0;
}
.input {
  width: 100%;
  height: 3rem;
  background-color: #282c34b6;
  font-size: 2rem;
  color: #ff9028;
  border-radius: 15px 0 0 15px;
  box-shadow: none;
  border: 0;
  padding: 0 2%
  } 

.button {
  border-radius:  0 15px 15px 0;
  padding: .75rem;
  box-shadow: none;
  border: 0;
  background-color: #282c34b6;
  font-size: 1.25rem;
  color: #ff9028;
}
.button:hover {
  color: #ff7b00;
}
.button:active{
  background-color: #282c34b4;
}

/* Special classes for login button */
.logged-out{
box-shadow: none;
  border: 0;
  background-color: #282c34;
  border-radius: 10px;
  font-size: 1.5rem;
  color: #ff9028;
  padding: 15px;
}
.logged-out:active {
  background-color: #282c34;
}

.logged-in{
  box-shadow: none;
  border: 0;
  background-color: #282c34;
  border-radius: 10px;
  font-size: 1.5rem;
  color: #68625c;
  padding: 15px;
}


/* Main grid container for components */

.grid-container {
  height: calc(100vh - 80px);
  display: grid;
  grid-template-rows: 10% 80% 10%;
  grid-template-columns: 10% 35% 10% 35% 10%;
  grid-template-areas: ". . . . ."
                        ". left . right ."
                        ". . . . .";
}

.search {
 grid-row: 2 / 3;
 grid-column: 2 / 3;
}

.playlist {
  grid-row: 2 /3;
  grid-column: 4 / 5;
}

.track-display {
  background-color:#3a3d4288;
  color: #ff9028;
  border-radius: 1%;
  overflow-y: scroll;
  padding: 5% 5%;

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


.track-display::-webkit-scrollbar {
  width: 10px;               /* width of the entire scrollbar */
}



.track-display::-webkit-scrollbar-thumb {
  background-color: #282c3452;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #282c3400
  
}


